
.buttonLink {
  min-width: 110px;
  background-color: black;
  border: 1px solid black;
  padding: 0 10px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.16s, color 0.16s;
}

.buttonLink:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
