/* Switch element */
.form-switch {
    position: relative; /* instead of @apply relative */
    user-select: none; /* instead of @apply select-none */
    width: 60px;
  }
  
  .form-switch label {
    display: block; /* instead of @apply block */
    overflow: hidden;
    cursor: pointer;
    height: 8px; /* instead of @apply h-8 */
    border-radius: 8px; /* instead of @apply rounded-full */
  }
  
  .form-switch label > span:first-child {
    position: absolute; /* instead of @apply absolute */
    display: block; /* instead of @apply block */
    width: 28px;
    height: 28px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all 0.15s ease-out;
  }
  
  .form-switch input[type="checkbox"]:checked + label {
    background-color: #6c5ce7; /* instead of @apply bg-purple-600 */
  }
  
  .form-switch input[type="checkbox"]:checked + label > span:first-child {
    left: 30px;
  }